.header .nav_left{
	height: auto;
}
.header .foot .nav_left ol{
	display: none;
}
.content{
	background: #f0f0f0;
}
.content .container{
	width: 1200px;
	margin: 0 auto;
}
.content .head{
	padding: 12px 0 8px;
	overflow: hidden;
}
.content .head h3{
	font-weight: normal;
	font-family: "宋体";
	font-size: 12px;
	color: #666666;
}
.content  .head h3 p{
	float: left;
	display: inline-block;
}
.content  .head h3 a{
	float: left;
	display: inline-block;
	color: #666666;
	margin:  0 4px;
}
.content  .foot .list{
	width: 268px;
	float: left;
}
.content  .foot .list .title{
	background: #006b47;
	overflow: hidden;
	padding-left: 20px;
}
.content  .foot .list .title h2{
	height: 72px;
	line-height: 72px;
	font-size: 24px;
	color: #ffffff;
}
.content  .foot .list .title  a{
	display: inline-block;
	float: left;
	padding-bottom: 25px;
	padding-right: 10px;
}
.content  .foot .list .title span{
	display: inline-block;
	color: #ffffff;
	font-size: 16px;
}
.content  .foot .list .title p{
	margin-top: 55px;
}
.content  .foot .list ul li{
	background: #009966;
}
.content  .foot .list ul li:hover,.content  .foot .list ul li.list_hover{
	background: #00cc99;
}
.content  .foot .list ul li a{
	display: block;
	font-size: 16px;
	color: #ffffff;
	padding-left: 20px;
	padding-right: 30px;
	height: 72px;
	line-height: 72px;
}
.content  .foot .list_right{
	float: right;
	width: 920px;
	overflow: hidden;
}
.content  .foot .list_right .list_head ul{
	overflow: hidden;
	border-bottom: 3px solid #009966;
}
.content  .foot .list_right .list_head ul li{
	float: left;
	width: 108px;
	height: 33px;
	line-height: 33px;
	margin-right: 1px;
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
	background: url("../images/line.png") no-repeat left center;
}
.content  .foot .list_right .list_head ul li:hover,.content  .foot .list_right .list_head ul li.on{
	background: url("../images/line_hover.png") no-repeat left center;
}
.content  .foot .list_right .table_head{
	overflow: hidden;
}
.content  .foot .list_right .table_head div p{
	display: block;
	float: left;
	width: 120px;
	height: 50px;
	line-height: 50px;
	color: #333333;
	font-size: 14px;
	text-align: left;
}
.content  .foot .list_right .table_head .goods{
	padding-left: 120px;
	width: 230px;
}
.content  .foot .list_right .table_head  .price{
	width: 130px;
}
.content  .foot .list_right .table_head  .sum{
	width: 100px;
}
.content  .foot .list_right .table_head  .operate{
	width: 100px;
}
.content  .foot .list_right .table_body{
	overflow: hidden;
	background: #ffffff;
	margin-bottom: 22px;
}
.content  .foot .list_right .table_body h2{
	line-height: 42px;
	height: 42px;
	border-bottom: 1px solid #00cc99;
}
.content  .foot .list_right .table_body h2 input{
	width: 13px;
	height: 13px;
	line-height: 42px;
	display: block;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	border:1px solid #cccccc;
}
.content  .foot .list_right .table_body h2 label{
	font-size: 14px;
	color: #000;
	float: left;
	display: inline-block;
	font-weight: bold;
	margin: 0 3px;
	line-height: 42px;
	font-family: "宋体";
}
.content  .foot .list_right .table_body h2 a{
	float: right;
	margin-right: 40px;
	line-height: 42px;
	margin-top: 10px;
	cursor: pointer;
	width: 20px;
	height: 22px;
	background: url("../images/ico_04.png") no-repeat center;
}
.content  .foot .list_right .table_body  div{
	overflow: hidden;
	padding: 8px 0;
}
.content  .foot .list_right .table_body  div  p{
	display: block;
	width: 120px;
	float: left;
	color: #333333;
	font-family: "宋体";
	font-size: 14px;
	text-align: left;
}
.content  .foot .list_right .table_body .goods{
	padding-left: 10px;
	width: 340px;	
}
.content  .foot .list_right .table_body .goods a{
	display: block;
	float: left;
	margin-left: 10px;
	font-size: 12px;
	color: #333333;
	font-family: "宋体";
}
.content  .foot .list_right .table_body .goods a b{
	width: 41px;
	display: inline-block;
	color: #ffffff;
	height: 17px;
	line-height: 17px;
	text-align: center;
	font-size: 12px;
	background: #009966;
	border-radius: 10px;
	font-family: "宋体";
	font-weight: normal;
}
.content  .foot .list_right .table_body  .price{
	width: 130px;
}
.content  .foot .list_right .table_body  .pay{
	color: #009966;
}
.content  .foot .list_right .table_body  .sum{
	width: 100px;
}
.content  .foot .list_right .table_body  .operate{
	width: 100px;
}
.content  .foot .list_right .table_body  .operate a{
	font-size: 14px;
	color: #333333;
	font-family: "宋体";
	display: block;
}
.content  .foot .list_right  .paging {
	overflow: hidden;
	margin-bottom: 75px;
}
.content  .foot .list_right  .paging ul {
	overflow: hidden;
	float: right;
}
.content  .foot .list_right  .paging  ul li{
	float: left;
}
.content  .foot .list_right  .paging  ul li a{
	height: 38px;
	line-height: 38px;
	display: block;
	font-size: 14px;
	font-family: "宋体";
	margin: 0 4px;
	color: #333333;
	font-weight: bold;
}
.content  .foot .list_right  .paging  ul li:hover a{
	color: #009966;
}
.content  .foot .list_right  .paging  ul li .prve,.content  .foot .list_right  .paging  ul li .next{
	width: 72px;
	text-align: center;
	height: 36px;
	color: #999999;
	background: #ffffff;
	line-height: 36px;
	border:1px solid #999999;
}
.content  .foot .list_right  .paging  ul li .prve:hover,.content  .foot .list_right  .paging  ul li .next:hover{
	background: #009966;
	color: #ffffff;
	border: 0px;
	border:1px solid #009966;
}